.subHeader {
  background: var(--header_background);
}

.list {
  margin-top: 50px;

  .card {
    padding: 12px 16px;

    &:not(:last-child) {
      margin-bottom: 12px;
    }

    &:last-child {
      margin-bottom: 70px;
    }

    :global {
      .Card__in {
        display: flex;
        align-items: flex-start;
      }
    }

    .icon {
      min-width: 48px;
      min-height: 48px;

      img {
        max-width: 48px;
        max-height: 48px;
      }
    }

    .content {
      margin-left: 8px;

      .header {
        display: flex;
        align-items: center;

        :global {
          .Caption {
            margin-left: 4px;

            color: #818C99;
          }
        }
      }

      .body {
        margin-top: 4px;

        color: #6D7885;
      }

      .button {
        margin-top: 8px;

        display: flex;
        align-items: center;

        :global {
          .Button__content {
            display: flex;
            align-items: center;
          }

          .Spinner--android {
            margin: 3px 0;
          }
        }

        .btnIcon {
          margin-left: 6px;

          display: flex;

          svg {
            width: 16px;
            height: 16px;
          }
        }

        .buyInfo {
          margin-left: 12px;

          color: #818C99;
        }
      }
    }
  }
}
