.ref {
  :global {
    .Snackbar {
      padding-bottom: calc(var(--tabbar_height) + var(--safe-area-inset-bottom) + 50px) !important;
    }
  }

  .block {
    :global {
      .Header {
        .Header__in {
          padding: 0;

          .Header__main {
            margin-top: 0;
          }
        }
      }

      .Text {
        margin-bottom: 12px;

        color: #6D7885;
      }
    }

    .refCode {
      text-align: center;

      :global {
        .Title {
          margin: 18px 0px;
          color: #000000;
        }
      }
    }

    .input {
      padding: 0;

      .code {
        display: flex;

        :global {
          .Input {
            width: 80%;
          }

          .Button {
            margin-left: 8px;
          }
        }
      }
    }
  }
}
