.ref {
  .block {
    .userItem {
      padding-left: 0;
      padding-right: 0;

      .avatar, .name {
        cursor: pointer;
      }

      .transferIcon {
        color: var(--icon_color);
      }
    }

    :global {
      .Header {
        .Header__in {
          padding: 0;

          .Header__main {
            margin-top: 0;
          }
        }
      }

      .Text {
        margin-bottom: 12px;

        color: #6D7885;
      }
    }

    .refCode {
      text-align: center;

      :global {
        .Title {
          margin: 18px 0;
          color: var(--ref_code_color);
        }
      }
    }

    .input {
      padding: 0;

      .code {
        display: flex;

        :global {
          .Input {
            width: 80%;

            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
              -webkit-appearance: none;
            }
          }

          .Button {
            margin-left: 8px;
          }
        }
      }
    }
  }
}
