.donate {
  padding-top: 50px;

  .subHeader {
    background: var(--header_background);
  }

  .block {
    :global {
      .Header {
        .Header__in {
          padding: 0;
        }
      }

      .Caption {
        color: #6D7885;
      }
    }

    .description {
      margin-bottom: 12px;

      color: #6D7885;
    }

    .info {
      padding: 12px 16px;

      display: flex;
      align-items: flex-start;

      img {
        margin-right: 8px;
      }

      :global {
        .Headline {
          margin-bottom: 4px;

          color: #000000;
        }

        .Text {
          color: #2C2D2E;
        }
      }
    }
  }
}
