.rating {
  .tabsItem {
    opacity: 0.5;
    pointer-events: none;
  }

  .card {
    padding: 0 12px;

    .userItem {
      display: flex;
      align-items: center;

      &:first-child {
        padding-top: 12px;
      }

      &:last-child {
        padding-bottom: 12px;
      }

      .topNumber {
        min-width: 40px;
        text-align: center;

        font-weight: bold;

        color: var(--header_tint);
      }

      .avatar, .name {
        cursor: pointer;
      }

      .transferIcon {
        color: var(--icon_color);
      }

      :global {
        .SimpleCell {
          width: 100%;

          padding-right: 0;
        }
      }

      @media screen and (max-width: 330px) {
        .topNumber {
          display: none;
        }

        :global {
          .SimpleCell {
            padding-left: 0;
          }
        }
      }
    }
  }
}
