.avatar {
  display: flex;
  align-items: center;
  flex-direction: column;

  :global {
    .Headline {
      margin-top: 8px !important;
    }

    .Caption {
      margin-top: 4px !important;

      color: #818C99;
    }
  }
}

.achievement {
  min-width: 96px;
  min-height: 96px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 0.5px solid rgba(0, 0, 0, 0.08);
  border-radius: 8px;

  &:not(:last-child) {
    margin-right: 8px;
  }
}

.linkGroup {
  :global {
    .SimpleCell {
      padding: 0;

      align-items: unset;

      .SimpleCell__main {
        padding: 0;
      }

      .Button {
        color: var(--destructive);
        border: 1px solid var(--destructive);
      }
    }
  }
}

.levels {
  .progressWrapper {
    margin-top: 12px;

    .progress {
      height: 8px;

      overflow: hidden;
      border-radius: 4px;

      :global {
        .Progress__in {
          background: #78D0B1 !important;
        }
      }
    }

    .numbers {
      margin-top: 4px;

      display: flex;
      justify-content: space-between;

      color: #6D7885;
    }
  }

  :global {
    .Text {
      margin-top: 8px;

      color: #818C99;
    }
  }
}
