.avatar {
  display: flex;
  align-items: center;
  flex-direction: column;

  :global {
    .Headline {
      margin-top: 8px;
    }

    .Caption {
      margin-top: 4px;

      color: #818C99;
    }
  }
}

.achievement {
  min-width: 96px;
  min-height: 96px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 0.5px solid rgba(0, 0, 0, 0.08);
  border-radius: 8px;

  &:not(:last-child) {
    margin-right: 8px;
  }
}
