.card {
  padding: 12px 16px;

  overflow: hidden;
  color: #6D7885;

  &:not(:last-child) {
    margin-bottom: 12px;
  }

  .title {
    display: flex;
    align-items: center;

    text-transform: uppercase;

    .icon {
      width: 24px;
      height: 24px;

      margin-right: 8px;
    }
  }

  .body {
    margin-top: 8px;

    :global {
      .Card {
        min-width: 96px;
        min-height: 96px;

        .Card__in {
          width: 100%;
          height: 100%;

          display: flex;
          align-items: center;
          justify-content: center;
        }

        &:not(:last-child) {
          margin-right: 8px;
        }
      }
    }

    .achievement {
      min-width: 110px;
      min-height: 110px;

      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  //.horizScroll {
  //  :global {
  //    .HorizontalScroll__in-wrapper {
  //      display: flex;
  //    }
  //  }
  //}

  .btnWithInfo {
    margin-top: 8px;

    display: flex;
    align-items: center;

    :global {
      .Button__content {
        display: flex;
        align-items: center;
      }
    }

    .info {
      margin-left: 12px;

      color: #818C99;
    }
  }

  .actions {
    margin-top: 8px;

    display: flex;

    button:first-child {
      margin-right: 8px;
    }
  }
}
