.block {
  :global {
    .Header {
      .Header__in {
        padding: 0;

        .Header__main {
          margin: 0 0 9px 0;
        }
      }
    }
  }
}

.card {
  padding: 12px 16px;

  &:not(:last-child) {
    margin-bottom: 12px;
  }

  :global {
    .Card__in {
      display: flex;
    }
  }

  .info {
    flex: 1;

    margin-left: 8px;

    display: flex;
    justify-content: space-between;

    .content {
      :global {
        .Headline, .Text {
          margin-bottom: 4px;
        }

        .Text {
          color: #6D7885;
        }

        .Caption {
          color: #818C99;
        }
      }
    }

    :global {
      .IconButton {
        color: var(--accent);

        .Icon {
          padding-right: 0;
        }
      }
    }
  }
}
