.card {
  //padding: 0 12px;
  overflow: hidden;

  :global {
    .SimpleCell {
      &:first-child {
        padding-top: 12px;
      }

      &:last-child {
        padding-bottom: 12px;
      }
    }
  }
}
