.placeholder {
  padding: 12px;

  :global {
    .Avatar {
      cursor: pointer;
    }
    .Placeholder__in {
      padding: 0;

      .Title, .Headline {
        margin-left: 20px;
        margin-right: 20px;
      }

      .Placeholder__icon {
        margin-top: 18px;
      }

      .Placeholder__action {
        margin-top: 48px;
      }
    }
  }
}

.card {
  overflow: hidden;

  :global {
    .SimpleCell {
      &:first-child {
        padding-top: 12px;
      }

      &:last-child {
        padding-bottom: 12px;
      }
    }
  }
}
