.users {

  .card {
    .usersItem {
      display: flex;
      align-items: center;

      &:first-child {
        padding-top: 12px;
      }

      &:last-child {
        padding-bottom: 12px;
      }

      :global {
        .SimpleCell {
          width: 100%;

          padding-right: 0; 
        }
      }
    }
  }
}
